PORT=5001
DATABASE_URL=postgresql://postgres:[Venky@521474]@db.myodniwtnxvumpqvxgwr.supabase.co:5432/postgres
JWT_SECRET=7fK9mQ2xL8vR4pZ6nT3yW1aS5dE9cH7uB0gN4jX8kP7
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:5001/api
